.container{
    display:inline-block;
    justify-content:space-around;
    /* border: solid; */
    color: azure;
    border-radius: 20px;
    /* background-color: rgba(169, 219, 226, 0.8) */
}
.boton{
    padding: 15px;
    border-radius: 8px;
    margin: 5px;
    font-size: 20px;
    background-color: #fe0000;
    color: rgb(255, 255, 255);
}
.img{
    border-radius: 200px;
}

.font{
    background-color: rgba(0, 34, 255, 0.8);
    border-radius: 25px 25px;
    margin: 50px;
}